.contenedorfooter{
    width: 100%;
    height: 150px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.295);
    
    
    .logofooter{
        width: 100px;
        height: 100px;
        margin-left: 850px;
        margin-top: 20px ;
    }
    .parrafofooter{
        text-align: center;
    }
}
