.contenedormultimedia{
    width: 100%;
    height: 600px;
    background-color: $colorsecundario;
    margin-top: 80px;
    .imagenindex{
        width: 1000px;
        height: 400px;
        margin-left: 300px;
    }
    .parrafoindex{
        width: 300px;
        height: 200px;
        font-size: 15px;
        margin: 10px;
        margin-left: 300px;
    }
}


