.contenedornav{
    width: 100%;
    height: 100px;
    background-color: rgb(235, 236, 136);
    display: flex;
    justify-content: space-around;
    
    ul li {
        padding: 10px;
        justify-items: center;
        font-size: 20px;
        
    }
    
    li{
        list-style: none;
        display: inline-block;
        margin-top: 20px;
        
    }
}
